@* Copyright © 2022 Ory Corp *@
@* SPDX-License-Identifier: Apache-2.0 *@

@{
    ViewData["Title"] = "Home Page";
    ViewData["Subtitle"] = "Welcome to this example app";
}

<div class="content">
    <p>Learn about <a href="https://www.ory.sh/docs/welcome">authenticating users with Ory Network</a> in Web apps build with ASP.NET Core.</p>
</div>
