:host {
  min-width: inherit;
  width: inherit;
  min-height: inherit;
  height: inherit;

  display: flex;
  flex-direction: column;
  align-items: center;
}

form#registration > mat-form-field {
  margin-bottom: 1em;
}

.er{
  color: #f44336;
  text-align: center;
  margin: 1em;
}