<img src="assets/logo.png" alt="logo" style="width: 10em; margin: 1em;">

<h1>Registration</h1>

<div *ngIf="getResponseFromServerFlag" style="display: flex; justify-content: center;">
  <mat-spinner></mat-spinner>
</div>

<form id="registration" [formGroup]="registrationFormGroup" (ngSubmit)="submit()"
  style="width: 30em; display: flex; flex-direction: column;" *ngIf="!getResponseFromServerFlag">

  <mat-form-field>
    <mat-label>Enter the login</mat-label>
    <input id="login" type="text" matInput placeholder="Enter the login" required formControlName="login">
    <mat-hint align="start">(Ctrl+L) Login to log in to the system</mat-hint>
    <mat-hint align="end">{{login.value.length || 0}}</mat-hint>
    <mat-error *ngIf="login.invalid && (login.dirty || login.touched)">
      <ng-container *ngIf="login.errors?.['required']">
        The login cannot be empty
      </ng-container>
      <ng-container *ngIf="login.errors?.['minlength']">
        The minimum login consists of 4 characters
      </ng-container>
    </mat-error>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Enter the password</mat-label>
    <input id="password" [type]="passwordShowFlag ? 'text' : 'password'" matInput placeholder="Enter the password"
      required formControlName="password">
    <button id="hideOrShowPasswordButton1" type="button" mat-icon-button matSuffix #tooltipPassword="matTooltip" matTooltip="Show Password"
      matTooltipPosition="above" (click)="passwordDisplay(tooltipPassword);$event.stopPropagation();"
      [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordShowFlag">
      <i class="far" [ngClass]='passwordShowFlag ? "fa-eye" : "fa-eye-slash"'></i>
    </button>

    <mat-hint align="start">(Ctrl+P) Password to log in to the system</mat-hint>
    <mat-hint align="end">{{password.value.length || 0}}</mat-hint>
    <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
      <ng-container *ngIf="password.errors?.['required']">
        The password cannot be empty
      </ng-container>
      <ng-container *ngIf="password.errors?.['pattern']">
        The password is invalid
      </ng-container>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Repeat password</mat-label>
    <input id="repeatPassword" [type]="passwordShowFlag2 ? 'text' : 'password'" matInput placeholder="Repeat password" required
      formControlName="repeatPassword">
    <button id="hideOrShowPasswordButton2" type="button" mat-icon-button matSuffix #tooltipPassword2="matTooltip" matTooltip="Show Password"
      matTooltipPosition="above" (click)="passwordDisplay2(tooltipPassword2);$event.stopPropagation();"
      [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordShowFlag2">
      <i class="far" [ngClass]='passwordShowFlag2 ? "fa-eye" : "fa-eye-slash"'></i>
    </button>

    <mat-hint align="start">(Ctrl+R) Repeat password</mat-hint>
    <mat-hint align="end">{{repeatPassword.value.length || 0}}</mat-hint>

    <mat-error *ngIf="
    repeatPassword.invalid 
    && 
    (repeatPassword.dirty || repeatPassword.touched)
    &&
    repeatPassword.errors?.['required']
    ">
      The repeat password cannot be empty
    </mat-error>

  </mat-form-field>

  <mat-form-field>
    <mat-label>Enter the organization name</mat-label>
    <input id="orgName" type="text" matInput placeholder="Enter the organization name" required
      formControlName="orgName">
    <mat-hint align="start">(Ctrl+O) Organization name</mat-hint>
    <mat-hint align="end">{{orgName.value.length || 0}}</mat-hint>
    <mat-error *ngIf="orgName.invalid && (orgName.dirty || orgName.touched)">
      <ng-container *ngIf="orgName.errors?.['required']">
        The organization name cannot be empty
      </ng-container>
      <ng-container *ngIf="orgName.errors?.['minlength']">
        The minimum organization name consists of 4 characters
      </ng-container>
    </mat-error>
  </mat-form-field>

  <button
  type="submit"
  id="submitButton"
  *ngIf="!getResponseFromServerFlag" 
  mat-raised-button color="primary" matTooltip="Enter data"
    matTooltipPosition="above" [disabled]="registrationFormGroup.invalid">
    <i class="fa-solid fa-user-tie"></i>
    REGISTRATION
  </button>

  <div class="er" *ngIf="
  (repeatPassword.dirty || repeatPassword.touched)
  &&
  (registrationFormGroup.dirty || registrationFormGroup.touched)
  &&
  registrationFormGroup.errors?.['notEq']
  ">
    Password mismatch
  </div>
</form>