<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap5 - Portfolio</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
                           integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
  </head>

  <body>
    <!-- Navbar -->
    <nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img class="logo" src="https://v5.getbootstrap.com/docs/5.0/assets/brand/bootstrap-solid.svg" /> SoftwarePals
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                                                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about-us">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

    <!-- Hero section -->
    <section id="hero">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>Software<br>Development</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
            eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
            posuere a, pede.</p>
            <button type="button" class="btn btn-dark btn-large">Learn more</button>
          </div>
          <div class="col img-col">
            <img src="https://i.ibb.co/4MQrKjH/undraw-Freelancer-re-irh4.png" class="img-fluid" alt="Software Development">
          </div>
        </div>
        <div class="row cards">

          <div class="col-md-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <img src="https://cdn4.iconfinder.com/data/icons/computer-and-web-2/500/Development-512.png"
                     class="icon" alt="Service One" />
                <h5 class="card-title">Web Dev</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <img src="https://image.flaticon.com/icons/svg/2103/2103626.svg" class="icon"
                                                                                 alt="Service Two" />
                <h5 class="card-title">Machine Learning</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <img src="https://image.flaticon.com/icons/png/512/1797/1797500.png" class="icon"
                                                                                     alt="Service Three" />
                <h5 class="card-title">Security</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- End Hero section -->

    <!-- About us section -->
    <section id="about-us" class="alt">
      <div class="container">
        <div class="row align-items-center">
          <div class="col">
            <img src="https://evolt.io/wp-content/themes/evolt/dist/assets/img/compo-cta-footer.png"
                 class="img-fluid" alt="About Us">
            <p class="card-text"><small class="text-muted">React Native, Java, REST Api</small></p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="cardto
                          additional content. This content is a little bit longer.</p>
          <p
