version: "3.7"

services:
  oathkeeper:
    image: oryd/oathkeeper:v0.38
    depends_on:
      - kratos
    ports:
      - 8080:4455
      - 4456:4456
    command: serve proxy -c "/etc/config/oathkeeper/oathkeeper.yml"
    environment:
      - LOG_LEVEL=debug
    restart: on-failure
    networks:
      - intranet
    volumes:
      - ./oathkeeper:/etc/config/oathkeeper

  hello:
    build:
      context: "hello"
    networks:
      - intranet

  keto:
    image: oryd/keto:v0.8.0-alpha.2
    ports:
      - "4466:4466"
      - "4467:4467"
    command: serve -c /home/ory/keto.yml
    restart: on-failure
    volumes:
      - type: bind
        source: ./keto/keto.yml
        target: /home/ory/keto.yml
    networks:
      - intranet

  postgres-kratos:
    extends:
      file: ../../_common/docker-compose.yml
      service: postgres-kratos

  kratos-migrate:
    extends:
      file: ../../_common/docker-compose.yml
      service: kratos-migrate

  kratos:
    extends:
      file: ../../_common/docker-compose.yml
      service: kratos

  kratos-selfservice-ui-node:
    extends:
      file: ../../_common/docker-compose.yml
      service: kratos-selfservice-ui-node

  mailslurper:
    extends:
      file: ../../_common/docker-compose.yml
      service: mailslurper

networks:
  intranet:
