<h2 class="font-semibold  text-xl">
  <%= gettext("Settings") %>
</h2>

<ExampleWeb.Flow.flow flow={@flow} />

<.button>
  <:inner_block>
    <.link navigate={@logout_url} class="text-white text-sm font-semibold leading-6">
      <span>Log out</span>
    </.link>
  </:inner_block>
</.button>
