{#include base}
{#title}Welcome{/title}
{#body}
<div>
    {text}
</div>
<div>
    Please <a href="http://127.0.0.1:4433/self-service/login/browser">login</a>
</div>
<div>
    <a href="http://127.0.0.1:4433/self-service/registration/browser">Sign up for secret recipes</a>
</div>
<div>
    <p>Grandma's super secret cookie recipe</p>
    <a href="/recipe">Get it</a>
    <p>(You must be logged in)</p>
</div>
<div>
    <a href="http://127.0.0.1:4433/self-service/browser/flows/logout">Log out</a>
</div>
{/body}
{/include}
